<div class="wrapper">
    <div class="container">
        <div class="auth-container">
            <div class="auth-img-box">
                <img class="auth-img" src="/images/white-hashtag-png-4-transparent.png" alt="">
            </div>
            <div class="auth-box">
                <form action="/login" method="post">
                    <div class="field-box">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="auth-input" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="field-box">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="auth-input" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="auth-btn">#LOGIN</button>
                    <p>Don't have a user yet? Signup <a href="/signup">here!</a></p>
                </form>


                {{#if message}}
                <p>{{message}}</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>