<div class="wrapper">
    <div class="container">
        <div class="auth-container">
            <div class="auth-img-box">
                <img class="auth-img" src="/images/white-hashtag-png-4-transparent.png" alt="">
            </div>
            <div class="auth-box">

                <form action="/signup" method="post">
                    <div class="field-box">
                        <label for="username">Username</label>
                        <input name="username" id="username" class="auth-input" type="text">
                    </div>
                    <div class="field-box">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="auth-input" name="password">
                    </div>
                    <button type="submit" class="auth-btn">#SIGNUP</button>
                    <p>Already have an account? Login <a href="/login">here!</a></p>
                </form>
                {{#if message}}
                <p>{{message}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>