<h1>Hello World!</h1>

{{#if user}}
<form id="search-form" action="/search" method="get">
    <input placeholder="Enter a movie you want to search for" type="text" name="search" id="search">
    <button type="submit">Search</button>
</form>

{{/if}}

<div class="movie-list">
    {{#each movies}}
    <div class="movie-card">

        <h3>{{movies.title}}</h3>

    </div>
    {{/each}}
</div>