<div class="wrapper">
    <div class="container">
        <div class="trailer-container">
            <iframe class="trailer" width="720" height="600" src="" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="movie-info">

            <div class="title">

                <h3 class="movie-title">Fishing...</h3>
                <p class="release-date"><small></small></p>
                <a class="see-more" href=""><button type="button" class="btn-see-more"> see more</button></a>
            </div>



            {{#if user}}
            <div class="user-buttons">



                <div class="log-buttons">

                    <button class="btn-add-log"> add to log</button>
                    <button class="btn-wishlist"> add to wishlist</button>
                </div>
            </div>

            {{/if}}
        </div>
        <div class="next">
            <button type="button" class="btn-next-movie">#nextmovie</button>
        </div>
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="javascript/randomMovie.js"></script>