<div class="wrapper">
    <div class="container">
        <div class="trailer-container">
            <iframe class="trailer" width="720" height="600" src="" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="movie-info">

            <div class="title">

                <h2 class="movie-title">Fishing...</h2>
                <p class="release-date"><small></small></p>
                <p class="movie-overiew"></p>
                <a class="see-more" href=""><button type="button" title="See more details" class="btn-see-more"><img
                            src="images/see-more.png" alt="see-more"></button></a>
            </div>



            {{#if user}}
            <div class="user-buttons">



                <div class="log-buttons">

                    <button class="btn-add-log" title="Add to your movies"><img src="images/checkbox.png"
                            alt="checkbox-image"></button>
                    <button class="btn-wishlist" title="Add to watch later"><img src="images/add-to-wishlist.png"
                            alt="add-image"></button>
                </div>
            </div>

            {{/if}}
        </div>
        <div class="next">
            <button type="button" class="btn-next-movie"><img src="images/arrow1.png" alt="next arrow"></button>
        </div>
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="javascript/randomMovie.js"></script>