<div class="movie-card">
    <img src="https://image.tmdb.org/t/p/w1280{{movieDetail.poster_path}}" alt="movie-poster">
    <h3><a href="/movies/{{movieDetail.id}}">{{movieDetail.title}}</a></h3>
    <input type="text" id="hashtags">
</div>