<div class="search-results">
    {{#each searchResults}}
    <div>
        <img src="https://image.tmdb.org/t/p/w1280{{this.poster_path}}" alt="movie-poster">
        <h3><a href="/movies/{{this.id}}">{{this.title}}</a></h3>
    </div>
    {{/each}}
</div>