body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: lightcoral;
  padding: 0.5em;
}

nav > ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav-item {
  padding: 1em;
}

.page-body {
  padding: 1em;
}

#serarch-form {
  display: flex;
  flex-flow: row wrap;
}

#search {
  width: 90vw;
}
