body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: lightcoral;
  padding: 0.5em;
}

nav > ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav-item {
  padding: 1em;
}

.page-body {
  padding: 1em;
}

#search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1em;
}

#search {
  width: 95%;
}

.search-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-flow: column;
  margin: 0.5em;
  width: 30vw;
  align-items: center;
}

.movie-image {
  height: 80%;
  width: 80%;
}

.movie-image-box {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#hashtags {
  width: 100%;
}

.hashtags {
  display: flex;
  flex-flow: row wrap;
}

.hashtag-suggestion {
  margin: 0 1em;
}
.new-hashtag {
  color: grey;
}
.hashtag-clicked {
  background-color: grey;
}

.movie-detail {
  display: flex;
  flex-flow: row wrap;
}

.movie-details {
  width: 50vw;
}
